.cardBrowserWrapper {
  /* background-color: #ddd; */
}

.controls {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.controlItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fafafa;
}

.controlItem label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 12px;
  font-size: 13px;
  background-color: rgb(255, 214, 196);
}

.controlItem label span {
  display: block;
}

.controlItem input {
  height: 100%;
  border: 0;
  padding: 0px 12px;
  background-color: #dedede;
}

.sortsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
  background-color: #dedede;
}

.sortsWrapper button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sortsWrapper button span {
  display: block;
}

.btnSort {
  border: 0;
  border-radius: 6;
}

.btnSort.active {
  background-color: lightsalmon;
}

.btnSort.active.inverted {
  background-color: lime;
}

.cards {
  display: flex;
  flex-direction: row;
  grid-gap: 12px;
  flex-wrap: wrap;
}
